body {
  margin: 0;
  font-family: Montserrat;
}

.title-screen {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-title {
  letter-spacing: 12px;
  font-size: 48px;
}

.main-page {
  margin: 0 15%;
  height: 100vh;
}

.projects-title {
  font-size: 24px;
  padding: 24px 0;
}

.project {
  padding: 0.3vw 0;
}
